<script type="text/x-handlebars" data-template-name="comments">
  {{view App.CommentListView contentBinding="submission_comments"}}

  {{view App.CommentArea valueBinding='body' name="body"}}
  <br>
  <p><a class="btn btn-primary btn-lg" role="button" {{action 'submit' body target='view'}}>Submit</a></p>
</script>

<% include _comment %>
