<script type="text/x-handlebars" data-template-name="comment">
  <div class="panel panel-default">
    <div class="panel-heading">
      Seymour Butts says...
    </div>
    <div class="panel-body">
      {{view.content.body}}
    </div>
  </div>
</script>