<div class="header">
  Welcome to Apply

  <span>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li class="active">
        <a href="#/profile">Profile</a>
      </li>
    </ul>
  </span>
</div>
