<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Apply</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include sidebar/_sidebar %>
    <% include dashboard/_dashboard %>
    <!-- <script type="text/x-handlebars" data-template-name="dashboard">
      Dashboard
      {{#linkTo 'menu' activeClass="selected"}}Active{{/linkTo}}
      {{outlet}}
    </script> -->
    <script src="/lib/jquery-1.9.1.js"></script>
    <script src="/lib/handlebars-1.0.0-rc.4.js"></script>
    <script src="/lib/ember-1.0.0-rc.6.1.js"></script>
    <script src="/lib/ember-resource.js"></script>
    <script src="/lib/require-min.js"></script>
    <script src="/lib/common-min.js"></script>
    <script src="/built/agent.js"></script>
  </body>
</html>
