<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Apply</title>
    <link rel="stylesheet" href="/css/base.css">
    <script src="/lib/jquery-1.9.1.js"></script>
    <script src="/lib/handlebars-1.0.0-rc.4.js"></script>
    <script src="/lib/ember-1.0.0-rc.6.1.js"></script>
    <script src="/lib/ember-resource.js"></script>
    <script src="/lib/require-min.js"></script>
    <script src="/lib/common-min.js"></script>
    <script src="/lib/bootstrap.js"></script>
    <script src="/built/agent.js"></script>
  </head>
  <body>
    <% include sidebar/_pill %>
    <script type="text/x-handlebars">
      <div class="header">
        <% include header/_header %>
      </div>
      <% include sidebar/_sidebar %>
      <div class="dashboard">
        {{outlet dashboard}}
      </div>
    </script>

    <% include dashboard/_dashboard %>
  </body>
</html>
