body {
  background-image: url('/png/texture0.png');
  height: 1000px;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: #ff7659;
}

h1.large {
  font-weight: 700;
  font-size: 56pt;
}

h1.medium {
  font-weight: 300;
}

h1.small {
  font-weight: 100;
}

div.header {
  height: 130px;
  background-color: white;
  border-bottom: 1px solid #dcdcdc;
}

.header .large {
  float: left;
  margin-left: 200px;
}

.header .small {
  float: right;
  margin-right: 50px;
  margin-top: 60px;
}

.login-box {
  text-align: center;
  padding-top: 100px;
}

div.login-box-inner {
  display: inline-block;
  width: 500px;
  background-color: white;
  border: 1px solid #dcdcdc;
  padding-left: 45px;
  padding-bottom: 40px;
}

.login-box-inner > h1 {
  float: left;
}

div.login {
  width: 400px;
  margin-top: 30px;
}
