body {
  background-image: url('/png/texture0.png');
  height: 1000px;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: #ff7659;
}

h1.large {
  font-weight: 700;
  font-size: 56pt;
}

h1.medium {
  font-weight: 300;
}

h1.small {
  font-weight: 100;
}

div.header {
  height: 130px;
  background-color: white;
}

.header .large {
  float: left;
  margin-left: 200px;
}

.header .small {
  float: right;
  margin-right: 50px;
  margin-top: 60px;
}
