html, body {
  width: 100%;
  height: 100%;
}

/* Classes */
.dashboard {
  float: left;
  padding-top: 30px;
  width: 60%;
  height: 100%;
}

.focused {
  background-color: #F0F0F0;
}

.header {
  background-color: #ff7659;
  height: 70px;
}

.nav-bar {
  padding-top: 50px;
}

.row {
  width: 600px;
}

.row-link {
  text-decoration: none;
  display: block;
  color: black;
}

.sidebar {
  background-color: #f8f8f8;
  float: left;
  width: 150px;
  height: 100%;
}

.icon {
  height: 32px;
  width: 32px;
}

.icon.icon-sidebar {
  margin: 0 auto;
  margin-top: 50px;
}

/* Image Assets */
.icon-menu {
  background-image:url('/icons/menu.png');
}

/* Ember hacks */
.ember-view {
  height: 100%;
}