/* Put your CSS here */
html, body {
  width: 100%;
  height: 100%;
}



/* Classes */
.dashboard {
  float: left;
  width: 700px;
  height: 100%;
}

.focused {
  background-color: #F0F0F0;
}

.header {
  background-color: #ff7659;
  height: 40px;
}

.row {
  width: 600px;
}

.sidebar {
  background-color: #f8f8f8;
  float: left;
  width: 100px;
  height: 100%;
}

/* Ember hacks */
.ember-view {
  height: 100%;
}