html, body {
  width: 100%;
  height: 100%;
}

/* Classes */
.dashboard {
  float: left;
  padding-top: 30px;
  width: 60%;
  height: 100%;
}

.focused {
  background-color: #F0F0F0;
}

.header {
  background-color: #ff7659;
  height: 70px;
}

.nav-bar {
  padding-top: 50px;
  display: inline-block;
}

.row {
  width: 600px;
}

.row-link {
  text-decoration: none;
  display: block;
  color: black;
}

.sidebar {
  background-color: #f8f8f8;
  float: left;
  text-align: center;
  width: 110px;
  height: 100%;
}

ul.pill {
  display: inline-block;
}

li.pill {
  margin-top: 35px;
}

.icon {
  height: 32px;
  width: 32px;
}

.icon.icon-sidebar {
  margin: 0 auto;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #e6e6e6;
}

/* Image Assets */
.icon-profile {
  background-image:url('/icons/profile.png');
}

.icon-workspace {
  background-image:url('/icons/workspace.png');
}
