<div class="sidebar">
<div class="header"></div>
  {{#linkTo 'workspace'}}
    <div class="icon icon-sidebar icon-workspace"></div>
  {{/linkTo}} <br>
  {{#linkTo 'profile'}}Profile{{/linkTo}}
</div>
