<div class="sidebar">
<div class="header"></div>
    {{#view App.PillView}}
      <ul class="pill nav nav-pills">
      <li class="pill active">
        {{#linkTo 'workspace'}}
          <div class="icon icon-sidebar icon-workspace"></div>
        {{/linkTo}}
      </li>
    <br>
    <li class="pill">
      {{#linkTo 'profile'}}
        <div class="icon icon-sidebar icon-profile"></div>
      {{/linkTo}}
    </li>
  </ul>
      {{/view}}
</div>
