<div class="sidebar">
  {{#view App.PillView}}
    <ul class="pill nav nav-pills">
      <li id="workspace" class="pill">
        {{#linkTo 'workspace'}}
          <div class="icon icon-sidebar icon-workspace"></div>
        {{/linkTo}}
      </li>
      <br>
      <li id="profile" class="pill">
        {{#linkTo 'profile'}}
          <div class="icon icon-sidebar icon-profile"></div>
        {{/linkTo}}
      </li>
    </ul>
  {{/view}}
</div>
