<script type="text/x-handlebars" data-template-name="workspace">
  <ul>
    {{#each model}}
      <li>
        <span>
          {{name}}
        </span>
        <span>
          {{major}}
        </span>
        <span>
          {{gpa}}
        </span>
      </li>
    {{/each}}
  <ul>
</script>
