<script type="text/x-handlebars" data-template-name="submission">
  <h2>Submission from {{applicant.first}} {{applicant.last}}</h2>
  <br><br>
  Submitted:  {{submitted}}
  <br>

  {{#each comment in submission_comments}}
    fuck!
  {{/each}}

  {{view App.CommentsView contentBinding="submission_comments"}}
</script>
