<script type="text/x-handlebars" data-template-name="workspace">
  <ul class="list-group">
    {{#each model}}
      {{#view App.WorkspaceRowView}}
        <li class="list-group-item" {{action 'open' this}}>
          <span>
            {{applicant.first}} {{applicant.last}}
          </span>
        </li>
      {{/view}}
    {{/each}}
  <ul>
</script>
