<script type="text/x-handlebars" data-template-name="workspace">
  <ul class="list-group">
    {{#each model}}
      {{#view App.WorkspaceRowView}}
        <li class="list-group-item">
          {{#linkTo 'workspace.submission' this}}
            <span>
              {{name}}
            </span>
            <span>
             {{major}}
            </span>
            <span>
             {{gpa}}
            </span>
          {{/linkTo}}
        </li>
      {{/view}}
    {{/each}}
  <ul>
</script>
