<script type="text/x-handlebars" data-template-name="workspace">
  <ul class="list-group">
    {{#each model}}
      {{#view App.WorkspaceRowView}}
        {{#linkTo 'submission' this}}
          <li class="list-group-item">
            <span>
              {{name}}
            </span>
            <span>
             {{major}}
            </span>
            <span>
             {{gpa}}
            </span>
          </li>
        {{/linkTo}}
      {{/view}}
    {{/each}}
  <ul>
</script>
