<script type="text/x-handlebars" data-template-name="workspace">
  <ul class="list-group">
    {{#each model}}
      {{#view App.WorkspaceRowView valueBinding=this}}
        <span>
          {{applicant.first}} {{applicant.last}}
        </span>
      {{/view}}
    {{/each}}
  <ul>
</script>
