<script type="text/x-handlebars" data-template-name="header">
  <span>
    <ul class="nav nav-tabs nav-bar">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li class="active">
        <a href="#/profile">Profile</a>
      </li>
    </ul>
  </span>
</script>
